MAP
pipes/mapPipe
LOG
pipes/logPipe
STATS
pipes/statsPipe
IO_KEY
1444
GAME_KEY
1555
PERMISSION
0660
GAME_MANAGER_PATH
GameManager/cmake-build-debug/GameManager
MAP_PATH
bin/MapDisplay
LOG_PATH
bin/LogDisplay
STATS_PATH
bin/StatsDisplay
IO_PATH
bin/IOManager
P_ROBOTS_PATH
config/player.save
E_ROBOTS_PATH
config/enemy.save

