MAP
mapPipe
LOG
logPipe
STATS
statsPipe
IO_KEY
1010
GAME_KEY
1020
PERMISSION
0660
GAME_MANAGER_PATH
../../GameManager/cmake-build-debug/GameManager
MAP_PATH
../../MapDisplay/cmake-build-debug/MapDisplay
LOG_PATH
../../LogDisplay/cmake-build-debug/LogDisplay
STATS_PATH
../../StatsDisplay/cmake-build-debug/StatsDisplay
IO_PATH
../../IOManager/cmake-build-debug/IOManager

