MAP
../../pipes/mapPipe
LOG
../../pipes/logPipe
STATS
../../pipes/statsPipe
IO_KEY
1444
GAME_KEY
1555
PERMISSION
0660
GAME_MANAGER_PATH
../../GameManager/cmake-build-debug/GameManager
MAP_PATH
../../MapDisplay/cmake-build-debug/MapDisplay
LOG_PATH
../../LogDisplay/cmake-build-debug/LogDisplay
STATS_PATH
../../StatsDisplay/cmake-build-debug/StatsDisplay
IO_PATH
../../IOManager/cmake-build-debug/IOManager
P_ROBOTS_PATH
../../config/player.save
E_ROBOTS_PATH
../../config/enemy.save

